<hr>
<h1>{{h1}}</h1>
<hr>
<br>
<div class="activebar">
    <a href="/">{{ah}}</a>
    <a href="about">{{aa}}</a>
    <a href="contact">{{ac}}</a>
</div>
<br>
<br>
<p class="para">{{para}}</p>
<br>
<!--display of rows and columns for the employeecards.-->
<div class="Rows">
    <div class="Scolumns">
        <div class="employeecards">
            <!--img placed out of container as it was conflicting with classes on the inside-->
            <img src="/img/profile_pic.jpeg" alt="Wes" style="width: 100%">
            <hr>
            <div class="container" style="width: fit-content;">
                <h3>{{h3}}</h3>
                <p class="abouttitle">{{abouttitle1}}</p>
                <p class="aboutpara">{{aboutpara1}}</p>
                <p class="aboutpara">{{aboutemail}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>