<hr>
<!-- Uses built-in `if` helper. -->
{{#if showTitle}}
<h1>Home</h1>
{{/if}}
<hr>
<br>
<br>
<div class="activebar">
  <a href="/">{{ah}}</a>
  <a href="about">{{aa}}</a>
  <a href="contact">{{ac}}</a>
  <br>
  <br>
</div>
<!-- Creating a list for words to be placed into the webpage -->
<h2>{{h2}}</h2>
<br>
<p class="para">{{para}}</p>
<br>
<!-- Calls `bar` helper, defined at instance-level. -->